<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libros, Libros y Mas</title>

  <link href="/css/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/libro.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <h1>Libros por pila</h1>
  </header>
  <main>
    <h2 id="titulo"></h2>
    <h4 id="autor"></h4>
    <p id="descripcion"></p>
    <span id="fecha"></span>
  </main>
  <footer>
    Alterna Academy 2024
  </footer>

  <script src="/js/libro.js"></script>
</body>

</html>
